@model IEnumerable<CiberClimb.Models.ClimberModels>
@{
    ViewBag.Title = "Ciber Klatrekonger";
}

<div class="jumbotron">
    <h2>Ciber Klatrekonger</h2>
    <table class="table">
        <tr>
            <td>
                Plass
            </td>
            <td>
                Navn
            </td>
            <td>
                Kongsveien
            </td>
            <td>
                Grefsen
            </td>
            <td>
                Tryvann
            </td>
            <td>
                Totalt
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KongsveienPoints) (@Html.DisplayFor(modelItem => item.KongsveienTime))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TryvannPoints) (@Html.DisplayFor(modelItem => item.TryvannTime))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrefsenPoint) (@Html.DisplayFor(modelItem => item.GrefsenTime))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
            </tr>
        }
    </table>
</div>
